NAME=CodeGenerator-Laravel-Vue-GonzaloBernard
ENV=develop

#output_model_prefix = "dist/app/Models/"
#output_controller_prefix = "dist/app/Http/Controllers/Api/V1/Admin/"
#output_store_request_prefix = "dist/app/Http/Requests/"
#output_update_request_prefix = "dist/app/Http/Requests/"
#output_resource_prefix = "dist/app/Http/Resources/Admin/"
#output_migration_prefix = "dist/database/migrations/"
#output_api_route_prefix = "dist/routes/"
#prefix = ""
#api_route_prefix = "dist/"

#output_model_prefix = 'app/Models/'
#output_controller_prefix = 'app/Http/Controllers/Api/V1/Admin/'
#output_store_request_prefix = 'app/Http/Requests/'
#output_update_request_prefix = 'app/Http/Requests/'
#output_resource_prefix = 'app/Http/Resources/Admin/'
#output_migration_prefix = 'database/migrations/'

output_model_prefix =         "dist_3/"
output_controller_prefix =    "dist_3/"
output_store_request_prefix = "dist_3/"
output_update_request_prefix ="dist_3/"
output_resource_prefix =      "dist_3/"
output_migration_prefix =     "dist_3/"
output_api_route_prefix =     "dist_3/"
api_route_prefix =            "dist_3/"
prefix =                      ""
