/app/Http/Controllers/Api/V1/Admin/*.php
/app/Http/Requests/*.php
/app/Http/Resources/Admin/*.php
/app/Models/*.php
/database/migrations/*.php
/routes/*.php

/js/cruds/*
/js/store/*
/js/pages/layout/*
/js/routes/*

!/js/cruds/*example*
!/js/store/*example*
!/js/store/cruds/*example*
!/js/pages/layout/*example*
!/js/routes/*example*