.env
/dist/app/Http/Controllers/Api/V1/Admin/*.php
/dist/app/Http/Requests/*.php
/dist/app/Http/Resources/Admin/*.php
/dist/app/Models/*.php
/dist/database/migrations/*.php
/dist/routes/*.php
/dist/dist/*.php

/dist/js/cruds/*
/dist/js/store/*
/dist/js/pages/layout/*
/dist/js/routes/*

!/dist/js/cruds/*example*
!/dist/js/store/*example*
!/dist/js/store/cruds/*example*
!/dist/js/pages/layout/*example*
!/dist/js/routes/*example*