/app/Http/Controllers/Api/V1/Admin/*.php
/app/Http/Requests/*.php
/app/Http/Resources/Admin/*.php
/app/Models/*.php
/js/cruds/*
!/js/cruds/empty.txt
/database/migrations/*.php
/routes/*.php
/js/store/cruds/*
!/js/store/cruds/empty.txt
